<div class="container" *ngIf="package">
    <div class="row">
        <div class="col col-8 ">
            <div>
                <img src="../../../assets/images/goa.jpg" />
            </div>
            <div class="details">
                <h1>{{package.packageName |uppercase}} </h1>
                <p>{{package.packageDescription}}</p>
            </div>
            <hr>

            <div class="bus" *ngFor="let bus of package.route.buses">
                <div class="row">
                    <div class="col col-2  d-flex align-items-center justify-content-center" align="center">
                        <fa-icon class="ficon" [icon]="faBus" size="6x"></fa-icon>
                    </div>
                    <div class="col col-10 pack-details">
                        <h3>{{bus.travel.travelsName |uppercase}}</h3>
                        <div class="row">
                            <div class="col col-4">
                                <h6> Departure Date/Time</h6>
                            </div>
                            <div class="col col-4">
                                <h6> Arrival Date/Time</h6>
                            </div>
                            <div class="col col-4">
                                <h6> Duration</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-4">
                                <h6><strong>{{package.route.departureDate}} {{package.route.departureTime}}</strong>
                                </h6>
                            </div>
                            <div class="col col-4">
                                <h6> <strong>{{package.route.arrivalDate}} {{package.route.arrivalTime}}</strong></h6>
                            </div>
                            <div class="col col-4">
                                <h6><strong>{{package.route.duration}}</strong> </h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="hotel" *ngFor="let hotel of package.hotel">
                <div class=" row">
                    <div class="col col-2  d-flex align-items-center justify-content-center" align="center">
                        <fa-icon class="ficon" [icon]="faHotel" size="6x"></fa-icon>
                    </div>
                    <div class="col col-10 pack-details">
                        <h3>{{hotel.hotelName |uppercase}}</h3>
                        <div class="row">
                            <div class="col col-4">
                                <h6>Hotel Type</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-4">
                                <h6>{{hotel.hotelType}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-4">
                                <h6>Description</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-4">
                                <h6>{{hotel.hotelDescription}}</h6>
                            </div>
                        </div>


                    </div>
                    
                </div>
            </div>

            <div class="TnC">
                <h1 align="center">Terms and condition</h1>
                <ul class="contentList">

                    <li>Standard check-in time at the hotel is normally 2:00 pm and check-out is 11:00 am. An
                        early check-in, or a late check-out is solely based on the discretion of the hotel.</li>
                    <li>A maximum of 3 adults are allowed in one room. The third occupant shall be provided a
                        mattress/rollaway bed.</li>
                    <li>The itinerary is fixed and cannot be modified. Transportation shall be provided as per
                        the itinerary and will not be at disposal. </li>
                    <li>Also, for any activity which is related to payment  will be refunded in case of payment failure within 7 working days.</li>
                    <li>AC will not be functional anywhere in cool or hilly areas.</li>
                    <li>Entrance fee, parking and guide charges are not included in the packages.</li>
                
                    <li>Booking rates are subject to change without prior notice.</li>
                    <li>Buses and hotel rooms are subject to availability at the time of booking.</li>
                  
                    
                    <li>In case your package needs to be cancelled due to any natural calamity, weather
                        conditions etc. MyTrip shall strive to give you the maximum possible refund subject
                        to the agreement made with our trade partners/vendors.</li>
                    <li>MyTrip reserves the right to modify the itinerary at any point, due to reasons including
                        but not limited to: Force Majeure events, strikes, fairs, festivals, weather conditions,
                        traffic problems, overbooking of hotels / flights, cancellation / re-routing of flights,
                        closure of /entry restrictions at a place of visit, etc. While we will do our best to
                        make suitable alternate arrangements, we would not be held liable for any
                        refunds/compensation claims arising out of this.</li>
                    <li>Certain hotels may ask for a security deposit during check-in, which is refundable at
                        check-out subject to the hotel’s policy.</li>
                    <li>The booking price does not include: Expenses of personal nature, such as laundry,
                        telephone calls, room service, alcoholic beverages, mini bar charges, tips, portage,
                        camera fees etc.</li>
                    <li>Any other items not mentioned under Inclusions are not included in the cost of the
                        booking.</li>
                   
                    <li>Cost of deviation and cost of extension of the validity on your ticket is not included.
                    </li>
                    <li>For queries regarding cancellations and refunds, please refer to our Report page.</li>
                    
                   
                 
                </ul>


            </div>
        </div>
        <div class="col col-4 pay " >
            <div class="payments">
                <div class="amount  d-flex justify-content-center" style="width: 100%;">
                    <div class="row" style="width: 100%;">
                        <div class="col col-6">
                            <h6>Bus Fare</h6>
                            <h6>Hotel Rent</h6>
                            <h6>Convenience Fee</h6>
                            <h6>Tax</h6>
                            <h5 style="color: maroon;">Total</h5>
                        </div>
                        <div class="col col-6">
                            <h6>{{package.route.fare|currency:"INR"}}</h6>
                            <h6>{{hotelrent|currency:"INR"}}</h6>
                            <h6>{{package.packageCost-package.route.fare-hotelrent|currency:"INR"}}</h6>
                            <h6>5%</h6>
                            <h5  style="color: maroon;">{{(package.packageCost)+(package.packageCost*.05)|currency:"INR"}}</h5>
                        </div>
                    </div>
                  
                </div>
                <div class="checkout">
                    <input (click)="checkout()" type="submit" class=" btn btn-primary" value="BOOK">
                </div>
            </div>

        </div>
    </div>

</div>