<div class="col col-10 offset-md-2 container viewall">
    <div class="container">
        <div class="header">All Feedback</div>
        <table class="tbl" style="width:100%">
            <tr>
            <th>Feedback Id</th>
              <th>Customer email</th>
              <th>Feedback Info</th>
              <th>Rating</th>
              <th>Submit Date</th>
            </tr>
            <tr *ngFor="let feedback of listFeedback">
                <td>{{feedback?.feedbackId}}</td>
              <td>{{feedback.customer?.email}}</td>
              <td>{{feedback?.feedback}}</td>
              <td>{{feedback?.rating}}</td>
              <td>{{feedback?.submitDate|date}}</td>
            </tr>
          </table>      
    </div>
    </div>

