<div class="col col-10 offset-md-2 container viewall">
    <div class="container">
        <div class="header">All Feedback</div>
        <table class="tbl" style="width:100%">
            <tr>
            <th>Feedback Id</th>
              <th>Customer Id</th>
              <th>Feedback</th>
              <th>Rating</th>
              <th>Submit Date</th>
            </tr>
            <tr>
                <td>1</td>
              <td>2</td>
              <td>Great Experience got</td>
              <td>5</td>
              <td>2021-07-13</td>
            </tr>
          </table>      
    </div>
    </div>

