<div class="col col-10 offset-md-2 container">
    <div class="container">
    <form [formGroup]="addAdminForm" (ngSubmit)="addAdmin()">
            <div class="header">Add Admins</div>
        <div class="form-group row">
            <label for="adminName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="adminName"formControlName="adminName" [ngClass]="{'is-invalid': submitted && control.adminName.errors}" >
              <div *ngIf="submitted && control.adminName.errors" class="text-warning">
                  <div *ngIf="control.adminName.errors.required">Admin Name required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="adminemail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="adminemail" formControlName="adminEmail" [ngClass]="{'is-invalid': submitted && control.adminEmail.errors}" >
              <div *ngIf="submitted && control.adminEmail.errors" class="text-warning">
                  <div *ngIf="control.adminEmail.errors.required">Email required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid': submitted && control.password.errors}">
              <div *ngIf="submitted && control.password.errors" class="text-warning">
                  <div *ngIf="control.password.errors.required">Password required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmpassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="confirmpassword" formControlName="confirmpassword" [ngClass]="{'is-invalid': submitted && control.confirmpassword.errors}">
              <div *ngIf="submitted && control.confirmpassword.errors" class="text-warning">
                  <div *ngIf="control.confirmpassword.errors.required">Password required</div> 
                  <div *ngIf="control.confirmpassword.errors.confirmedValidator">Password and Confirm Password must match.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="mobilenumber" class="col-sm-2 col-form-label">Mobile Number</label>
            <div class="col-sm-10">
              <input type="number"class="form-control" id="mobilenumber" formControlName="mobileNumber" [ngClass]="{'is-invalid': submitted && control.mobileNumber.errors}">
              <div *ngIf="submitted && control.mobileNumber.errors" class="text-warning">
                  <div *ngIf="control.mobileNumber.errors.required">Mobile Number required</div> 
              </div>
            </div>
          </div>
     
      
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
    </div>
</div>
<div class="col col-10 offset-md-2 container viewall">
  <div class="container">
      <div class="header">All Customer</div>
      <div class="search">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for Customers">
      </div>
      <table class="tbl" style="width:100%">
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Customer Address</th>
        <th>Customer Contact</th>
        <th>Customer  email</th>
      <tr *ngFor="let customer of listCustomer | filter:searchText">
          <td>{{customer?.customerId}}</td>
        <td>{{customer?.customerName}}</td>
        <td>{{customer?.customerAddress}}</td>
        <td>{{customer?.customerMobileNo}}</td>
        <td>{{customer?.email}}</td>
        </tr>
        </table>      
  </div>
  </div>
