<div class="col col-10 offset-md-2 container">
    <div class="container">
    <form [formGroup]="addAdminForm" (ngSubmit)="addAdmin()">
            <div class="header">Add Admins</div>
        <div class="form-group row">
            <label for="adminName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="adminName"formControlName="adminName" [ngClass]="{'is-invalid': submitted && control.adminName.errors}" >
              <div *ngIf="submitted && control.adminName.errors" class="text-warning">
                  <div *ngIf="control.adminName.errors.required">Admin Name required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="adminemail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="adminemail" formControlName="adminEmail" [ngClass]="{'is-invalid': submitted && control.adminEmail.errors}" >
              <div *ngIf="submitted && control.adminEmail.errors" class="text-warning">
                  <div *ngIf="control.adminEmail.errors.required">Email required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid': submitted && control.password.errors}">
              <div *ngIf="submitted && control.password.errors" class="text-warning">
                  <div *ngIf="control.password.errors.required">Password required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmpassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="confirmpassword" formControlName="confirmpassword" [ngClass]="{'is-invalid': submitted && control.confirmpassword.errors}">
              <div *ngIf="submitted && control.confirmpassword.errors" class="text-warning">
                  <div *ngIf="control.confirmpassword.errors.required">Password required</div> 
                  <div *ngIf="control.confirmpassword.errors.confirmedValidator">Password and Confirm Password must match.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="mobilenumber" class="col-sm-2 col-form-label">Mobile Number</label>
            <div class="col-sm-10">
              <input type="text"class="form-control" id="mobilenumber" formControlName="mobileNumber" [ngClass]="{'is-invalid': submitted && control.mobileNumber.errors}">
              <div *ngIf="submitted && control.mobileNumber.errors" class="text-warning">
                  <div *ngIf="control.mobileNumber.errors.required">Mobile Number required</div> 
              </div>
            </div>
          </div>
     
      
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
    </div>
</div>
