<div class="col col-10 offset-md-2 container">
    <div class="container">
    <form>
            <div class="header">Add Hotel</div>
        <div class="form-group row">
            <label for="hotelName" class="col-sm-2 col-form-label">Hotel Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="hotelName" placeholder="Hotel Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="hotelType" class="col-sm-2 col-form-label">Hotel Type</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="hotelType" placeholder="Hotel Type">
            </div>
          </div>
          <div class="form-group row">
            <label for="hotelDescription" class="col-sm-2 col-form-label">Hotel Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="hotelDescription" placeholder="Hotel Description">
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Hotel Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="address" placeholder="hotel Address">
            </div>
          </div>
          <div class="form-group row">
            <label for="rent" class="col-sm-2 col-form-label">Hotel Rent</label>
            <div class="col-sm-10">
              <input type="number" min="0" class="form-control" id="rent" placeholder="Hotel Rent">
            </div>
          </div>
          <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Hotel Status</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="status" placeholder="Hotel Status">
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label">Hotel City</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="city" placeholder="Hotel City">
            </div>
          </div>
      <button type="submit" class="btn btn-primary">Add Hotel</button>
    </form>
    </div>
</div>

<div class="col col-10 offset-md-2 container viewall">
    <div class="container">
        <div class="header">All Hotels</div>
        <table class="tbl" style="width:100%">
            <tr>
            <th>Hotel id</th>
              <th>Hotel Name</th>
              <th>Hotel Description</th>
              <th>Hotel Type</th>
              <th>Hotel Rent</th>
              <th>Hotel Address</th>
              <th>Hotel City</th>
              <th>Hotel Status</th>
            </tr>
            <tr>
                <td>1</td>
              <td>Radision Blue</td>
              <td>Great Experience to get</td>
              <td>5 Star</td>
              <td>6000</td>
              <td>Marathahalli, Bangalore,560103</td>
              <td>Bangalore</td>
              <td>Available</td>
            </tr>
          </table>      
    </div>
    </div>
