
<div class="col col-10 offset-md-2 container">
    <div class="container">
    <form>
            <div class="header">Add Travels</div>
        <div class="form-group row">
            <label for="travelsName" class="col-sm-2 col-form-label">Travels Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="travelsName" placeholder="Travels">
            </div>
          </div>
          <div class="form-group row">
            <label for="agentName" class="col-sm-2 col-form-label">Agent Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="agentName" placeholder="Agent Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
              <input type="text" min="0" class="form-control" id="adress" placeholder="Address">
            </div>
        </div>
        <div class="form-group row">
          <label for="contact" class="col-sm-2 col-form-label">Contact</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="contact" placeholder="Contact">
          </div>
        </div>

    <button type="submit" class="btn btn-primary">Add Travels</button>
  </form>
  </div>
</div>

<div class="col col-10 offset-md-2 container viewall">
<div class="container">
    <div class="header">View Travels</div>
    <table class="tbl" style="width:100%">
        <tr>
            <th>Travels Name</th>
          <th>Travels Id</th>
          <th>Agent Name</th>
          <th>Address</th>
          <th>Contact</th>
          
        </tr>
        <tr>
            <td>SRS</td>
          <td>702</td>
          <td>Himagani</td>
          <td>Bellanduru</td>
          <td>8989898989</td>
        </tr>
      </table>      
</div>
</div>