<div class="col col-10 offset-md-2 container">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Bookings</div>
        <div class="card-body h-100 justify-content-cente">
          <h3  class="card-title" align="center">#20</h3>
        </div>
      </div>
      <div class="card text-dark bg-light  mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Bookings</div>
        <div class="card-body h-100 justify-content-cente">
          <h3  class="card-title" align="center">#20</h3>
        </div>
      </div>
</div>

