<!--all above is necessary for bootstrap to function in this snippet-->

<div class=" search ">
    <form class="form-inline"  [formGroup]="searchForm">
      
      <div class="form-row" align="center">
       
        <div class=" col-2 ele">
  
          <h3 >Search Bus</h3>
  
        </div>
        <div class=" col-2 ele">
            
          <input type="text" class="form-control mb-2 " id="inlineFormInput" placeholder="Source" formControlName="from" >
  
        </div>
  
        <div class="col-2 ele">
  
          <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Destination" formControlName="to">
  
        </div>
        <div class="col-2 ele">
  
          <input type="date" class="form-control mb-2" id="inlineFormInput" placeholder="Date" formControlName="dte">
  
        </div>
        <div class="col-2 ele" >
  
          <button class="btn btn-danger " type="submit"  (click)="searchPack()" >Search</button>
    
        </div>
        
      </div>
    
    </form>
  </div>
<div class="container">

    <!-- Popular package section -->
    <section id="Package">
        <h1 class="title" align="center">POPULAR PACKAGE</h1>
        <div class="row">
            <div class="column">
                <div class="card">
                    <h3>Card 1</h3>
                    <p>Some text</p>
                    <p>Some text</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h3>Card 2</h3>
                    <p>Some text</p>
                    <p>Some text</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h3>Card 3</h3>
                    <p>Some text</p>
                    <p>Some text</p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h3>Card 4</h3>
                    <p>Some text</p>
                    <p>Some text</p>
                </div>
            </div>
        </div>
        <div align="center">

            <button class="btn btn-danger " type="submit">More</button>

        </div>
    </section>
    <!-- END OF Popular package section -->

    <div class="row" style="margin-bottom: 130px;">
        <div class="col-6 col--sm-6 quotes">
            <p class="quotes">Whether you live in a city or a small town, and whether you drive a car, take the bus or
                ride a train, at some point in the day, everyone is a pedestrian.
            </p>
        </div>
        <div class="col-6 col-sm-6 ">
            <img src="../../../assets/images/bus.gif">
        </div>
    </div>


    <!-- Service section -->
    <section>
        <div class="container ">
            <h1 class="title" align="center">SERVICES</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service text-center">
                        <div class="icon">
                            <fa-icon class="ficon" [icon]="faBus" size="4x"></fa-icon>
                        </div>
                        <h3>Comfortable Journey</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service text-center">
                        <div class="icon">
                            <fa-icon class="ficon" [icon]="faHotel" size="4x"></fa-icon>
                        </div>
                        <h3>Luxuries Hotel</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service text-center">
                        <div class="icon">
                            <fa-icon class="ficon" [icon]="faUserFriends" size="4x"></fa-icon>
                        </div>
                        <h3>Service</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF Services section -->



</div>
<div class=" feedback">
    <div class="container">
        <section>

            <carousel [height]="300" [width]="1200" [cellWidth]="1200" [dots]="true" [autoplay]='true' [loop]="false"
                [autoplayInterval]="2000" [arrows]='true'>

                <div class="carousel-cell    d-flex align-items-center justify-content-center ">

                    <div class="row ">
                        <div class=" h-100 justify-content-center ">
                            <p>Whether you live in a city or a small town, and whether you drive a car, take the
                                bus or
                                ride a train, at some point in the day, everyone is a pedestrian.
                            </p>
                            <p  align="center"><b>HARSH PAREEK</b></p>
                        </div>

                    </div>
                </div>
              
                <div class="carousel-cell  d-flex align-items-center justify-content-center ">

                    <div class="row">
                        <div class=" h-100 justify-content-center " >
                            <p>Whether you live in a city or a small town, and whether you drive a car, take the
                                bus or
                                ride a train, at some point in the day, everyone is a pedestrian.
                            </p>
                            <br>
                            <p  align="center"><b>HARSH PAREEK</b></p>
                        </div>

                    </div>
                </div>

            </carousel>
        </section>
    </div>
    
</div>
