.header{
    height: 100vh;
    min-height: 500px;
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../../../assets/images/bus1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card .btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card .checked {
    color: orange;
  }
  .card .btn:hover {
    background-color: maroon;
    color: white;
  }
  .shadow {
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(0, 0, 0,.30) 0 2px 3px;
    }
   section {
      margin: 0 auto;
      margin-top: 50px;
      height: auto;    
      margin-bottom: 50px;
    padding: 20px;
    width: 100%;    
    margin: 20px;
    }
    
  
    .quotes{
     padding-top: 60px;
     font-size: 25px;
     color: #040e27 !important;
    }
    .quotes p{
    margin-top:20% !important;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .title{
      margin: 20px;
      align-self: center;
      font-family: 'Portico Diablo';
      color: #040e27 !important;
      font-size: 45px;
    }
    @font-face{
      font-family:Portico Diablo;
      src: url(../../../assets/Font/Portico.otf);
    }
    .ficon{
      color:#040e27 !important;
    }
    .service{
      border: 1px solid #ccc;
      box-shadow: 1px 1px 2px #fff inset,
                  -1px -1px 2px #fff inset;
      border-radius: 3px/6px;     
      padding: 30px;
      height: auto;
      width: auto;
      border-radius: 10px;

    }
    hr {
      border: none;
      border-top: 3px double #333;
      color: #333;
      overflow: visible;
      text-align: center;
      height: 8px;
  }
  
  hr:after {
      background: #fff;
      content: '§';
      padding: 0 4px;
      position: relative;
      top: -13px;
  }
#Package button{
  margin-top: 30px;
}
.feedback{
  width: 100% !important;
  color: white;
  background-color: #040e27;
  
}
.feed{
  margin-top: 10%;
  text-align: center;
}
.toast-container {
 align-self: center;
}
.search{
  background: #040e27; /* fallback for old browsers */
 
  color: white;
  padding: 30px;
  align-content: center;
  border-bottom: 6px solid;
    border-color: #780206; /* fallback for old browsers */
    border-color: -webkit-linear-gradient(
      to right,
      #061161,
      #780206
    ); /* Chrome 10-25, Safari 5.1-6 */
    border-color: linear-gradient(
      to right,
      #061161,
      #780206
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ele{
  display:inline-block;
  margin-right: 10px;
}
.ele .btn{
  margin-left:-18vh;
  width: 120px;
}
.ficon{
  color: #040e27 !important;
}
.card {
  width: 380px !important;
  box-shadow: 0 40px 40px 0 rgba(167, 8, 8, 0.2), 0 40px 40px 0 rgba(160, 6, 6, 0.19);
}
.card-body
{
  padding:10px;
}
.card-img-top {
 width: 100%;
  
}