<div class="col col-10 offset-md-2 container viewall">
    <div class="container">
        <div class="header">View Bookings</div>
        <table class="tbl" style="width:100%">
            <tr>
                <th>Booking Id</th>
              <th>Booking Type</th>
              <th>Booking Description</th>
              <th>Booking Title</th>
              <th>Date Of Booking</th>
              <th>Package Id</th>
              <th>Customer Id</th>
              <th>Payment Id</th>
              <th>Ticket Id</th>
            </tr>
            <tr>
                <td>1</td>
              <td>Two Night</td>
              <td>Great Experience to get</td>
              <td>Goa Tour Booking</td>
              <td>2021-07-14</td>
              <td>5</td>
              <td>6</td>
              <td>9</td>
              <td>10</td>
            </tr>
          </table>      
    </div>
    </div>