<div class="container">
    <div class="row">
        <div class="col col-mg-12">
            <div  style="display: inline-block;">
              <div class="card "  style=" margin-right: 20px;margin-top: 20px; ">
                <div class="row">
               <div class="col col-4">
                <img class="card-img-top" src="../../../assets/images/goa.jpg" width="400px" height="250px">
               </div> 
               <div class="col col-8">
                <div class="card-body">
                  <p class="card-text text-center pname">asda</p>
                  <p class="card-text" style="font-size:12px; color:grey;">asdas
                 </p> 
                  <div > <fa-icon class="ficon" [icon]="faHotel" ></fa-icon> <fa-icon class="ficon" [icon]="faBus"></fa-icon> 
                    <div style="float: right; font-size: 18px; color:maroon;">asdasdas</div>
                </div>
                <div class="col" style="display: contents;">
                    <div ><button  class="btn" >BOOK IT NOW</button></div>
                  </div>  
                </div>
            </div>
        </div>
                
              </div>
            </div>
          </div>
</div>