<ng-container *ngIf="flag">
<div class="container" >
    <div class="row justify-content-md-center" style="width: 1500px !important;">
      <div class="col col-mg-12">
        <div *ngFor="let pack of package" style="display: inline-block;">
          <div class="card "  style=" margin: 20px;">
  
            <img class="card-img-top" src="../../../assets/images/goa.jpg" width="400px" height="250px">
            <div class="card-body">
              <p class="card-text text-center pname">{{pack.packageName}}</p>
              <p class="card-text" style="font-size:12px; color:grey;">{{pack.packageDescription}} 
                </p> 
              <div > <fa-icon class="ficon" [icon]="faHotel" ></fa-icon> <fa-icon class="ficon" [icon]="faBus"></fa-icon> 
                <div style="float: right; font-size: 18px; color:maroon;">{{pack.packageCost| currency:'INR'}}</div></div>
              
            </div>
            <div class="col" style="display: contents;">
              <div ><button (click)="packdetails(pack.packageId)" class="btn" >BOOK IT NOW</button></div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
  <ng-container *ngIf="!flag">
    <div class="container justify-content-md-center" >
        <div  align="center">
          <h1> NO PACKAGE FOUND</h1>
         <img src="../../../assets/images/no route found.gif" >
        
        </div>
      </div>
      </ng-container>
