@import "~bootstrap/dist/css/bootstrap.min.css";
.btn2 {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.checked {
  color: orange;
}
.btn:hover {
  background-color: maroon;
  color: white;
}

.card {
  width: 400px !important;
  box-shadow: 0 40px 40px 0 rgba(167, 8, 8, 0.2), 0 40px 40px 0 rgba(160, 6, 6, 0.19);
}
.card-body
{
  padding:10px;
}
.card-img-top {
 width: 100%;
  
}
.container{
  margin-top: 20px;
}
.pname {
  font-size: 20px;
  font-family: cursive;
}
.notfound {
  height: 100%;
  margin-top: 0px;
  background: none;
  padding-top: 200px;
}
h1{
  font-family: 'Portico Diablo';
      color: #040e27 !important;
      font-size: 45px;
    }
    @font-face{
      font-family:Portico Diablo;
      src: url(../../../assets/Font/Portico.otf);
    }
.ficon{
  margin: 10px;
}
.filters{
  float: right;
}
.form-select{
  width: 200px;
}