<div class="container" >
    <div class="row justify-content-md-center" style="width: 1500px !important;">
      <div class="col col-mg-12">
        <div *ngFor="let pack of package" style="display: inline-block;">
          <div class="card "  style=" margin: 20px;">
  
            <img class="card-img-top" [src]="" width="400px" height="250px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center pname">{{pack.packageName}}</p>
              <p class="card-text">Rating  <i   class="fa fa-star checked"></i>
                </p> 
              <div>{{pack.packageCost}}</div>
              
            </div>
            <div class="col" style="display: contents;">
              <div ><button class="btn" >BOOK IT NOW</button></div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

