<div class="container">
  <div class="card">
    <h5 class="card-header">Feedback </h5>
    <div class="card-body">
      <form [formGroup]="feedbackForm" (ngSubmit)="addFeedback()">
        <div align="center">
        <fa-icon class="ficon"(mouseover)="Rating(1)" id="1" [icon]="faStar"  size="2x"></fa-icon> 
        <fa-icon class="ficon" (mouseover)="Rating(2)" id="2" [icon]="faStar" size="2x"></fa-icon> 
        <fa-icon class="ficon" (mouseover)="Rating(3)" id="3" [icon]="faStar" size="2x" ></fa-icon> 
        <fa-icon class="ficon" (mouseover)="Rating(4)" id="4" [icon]="faStar" size="2x"></fa-icon> 
        <fa-icon class="ficon" (mouseover)="Rating(5)" id="5" [icon]="faStar" size="2x" ></fa-icon> 
      </div>
        <div class="form-group row">
          <label for="feedbackInfo" class="col-sm-2 col-form-label">Feedback</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="feedbackInfo"  rows="3"  formControlName="feedbackInfo"
            [ngClass]="{'is-invalid': submitted && control.feedbackInfo.errors}" ></textarea>
           
            <div *ngIf="submitted && control.feedbackInfo.errors" class="text-warning">
              <div *ngIf="control.feedbackInfo.errors.required">Feedback Info required</div>
            </div>
          </div>
        </div>
      
        <div align="center">
        <button type="submit" class="btn btn-primary">Add Feedback</button>
      </div>
      </form>
    </div>
  </div>
</div>
