<form [formGroup]="addRouteForm" (ngSubmit)="addRoute()">
<div class="col col-10 offset-md-2 container">
    <div class="container">
   
            <div class="header">Route Details</div>
        <div class="form-group row">
            <label for="routeFrom" class="col-sm-2 col-form-label">From</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="routeFrom" placeholder="From"formControlName="routeFrom" [ngClass]="{'is-invalid': submitted && control.routeFrom.errors}" >
              <div *ngIf="submitted && control.routeFrom.errors" class="text-warning">
                  <div *ngIf="control.routeFrom.errors.required">Origin required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="routeTo" class="col-sm-2 col-form-label">To</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="routeTo" placeholder="To"formControlName="routeTo" [ngClass]="{'is-invalid': submitted && control.routeTo.errors}" >
              <div *ngIf="submitted && control.routeTo.errors" class="text-warning">
                  <div *ngIf="control.routeTo.errors.required">Destination required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="departureDate" class="col-sm-2 col-form-label">Departure Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="departureDate" placeholder="Departure Date"formControlName="deptDate" [ngClass]="{'is-invalid': submitted && control.deptDate.errors}" >
              <div *ngIf="submitted && control.deptDate.errors" class="text-warning">
                  <div *ngIf="control.deptDate.errors.required">Departure Date required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="arrivalDate" class="col-sm-2 col-form-label">Arrival Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="arrivalDate" formControlName="arrivalDate" [ngClass]="{'is-invalid': submitted && control.arrivalDate.errors}" >
              <div *ngIf="submitted && control.arrivalDate.errors" class="text-warning">
                  <div *ngIf="control.arrivalDate.errors.required">Arrival Date required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="departureTime" class="col-sm-2 col-form-label">Departure Time</label>
            <div class="col-sm-10">
              <input type="time" class="form-control" id="departureTime" formControlName="deptTime" [ngClass]="{'is-invalid': submitted && control.deptTime.errors}" >
              <div *ngIf="submitted && control.deptTime.errors" class="text-warning">
                  <div *ngIf="control.deptTime.errors.required">Departure Time required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="arrivalTime" class="col-sm-2 col-form-label">Arrival Time</label>
            <div class="col-sm-10">
              <input type="time" class="form-control" id="arrivalTime" formControlName="arrivalTime" [ngClass]="{'is-invalid': submitted && control.arrivalTime.errors}" >
              <div *ngIf="submitted && control.arrivalTime.errors" class="text-warning">
                  <div *ngIf="control.arrivalTime.errors.required">Arrival Time required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="pickupPoint" class="col-sm-2 col-form-label">Pick Up Point</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="pickupPoint" formControlName="pickUpPoint" [ngClass]="{'is-invalid': submitted && control.pickUpPoint.errors}" >
              <div *ngIf="submitted && control.pickUpPoint.errors" class="text-warning">
                  <div *ngIf="control.pickUpPoint.errors.required">Pick Up Point required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="fare" class="col-sm-2 col-form-label">Fare</label>
            <div class="col-sm-10">
              <input type="number" min="0" class="form-control" id="fare" placeholder="Fare"formControlName="fare" [ngClass]="{'is-invalid': submitted && control.fare.errors}" >
              <div *ngIf="submitted && control.fare.errors" class="text-warning">
                  <div *ngIf="control.fare.errors.required">Fare required</div> 
              </div>
            </div>
          </div>
     
    
    </div>
</div>
<div class="col col-10 offset-md-2 container">
    <div class="container" *ngFor="let div of divs" id="div{{div}}" >
    
            <div class="header">Bus Details</div>
        <div class="form-group row">
          <div class="form-group row">
            <label for="busType" class="col-sm-2 col-form-label">Bus Type</label>
            <div class="col-sm-10">
            <select class="form-control" id="busType"formControlName="busType" [ngClass]="{'is-invalid': submitted && control.busType.errors}" >
              <div *ngIf="submitted && control.busType.errors" class="text-warning">
                  <div *ngIf="control.busType.errors.required">travel required</div> 
              </div>
              <option>AC</option>
              <option>Non-AC</option>
            </select>
        </div>
          </div>
      
          </div>
          <div class="form-group row">
            <label for="busNumber" class="col-sm-2 col-form-label">Bus Number</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="busNumber" placeholder="Bus Number"formControlName="busNumber" [ngClass]="{'is-invalid': submitted && control.busNumber.errors}" >
              <div *ngIf="submitted && control.busNumber.errors" class="text-warning">
                  <div *ngIf="control.busNumber.errors.required">Bus Number required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="busCapacity" class="col-sm-2 col-form-label">Bus Capacity</label>
            <div class="col-sm-10">
              <input type="number" min="30" class="form-control" id="busCapacity" placeholder="Bus Capacity"formControlName="busCapacity" [ngClass]="{'is-invalid': submitted && control.busCapacity.errors}" >
              <div *ngIf="submitted && control.busCapacity.errors" class="text-warning">
                  <div *ngIf="control.busCapacity.errors.required">Bus Capacity required</div> 
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="travel" class="col-sm-2 col-form-label">Travel</label>
            <div class="col-sm-10">
            <select class="form-control" id="travel"formControlName="travel" [ngClass]="{'is-invalid': submitted && control.travel.errors}" >
              <div *ngIf="submitted && control.travel.errors" class="text-warning">
                  <div *ngIf="control.travel.errors.required">travel required</div> 
              </div>
              <ng-container *ngFor="let travel of listTravel">
              <option>{{travel.travelsName}}</option>
            </ng-container>
  
            </select>
        </div>
          </div>
         
    
    </div>
    <div align="center">
      <input (click)="createDiv()" type="button" class="btn btn-primary" value="Add More Bus">
    <button type="submit" class="btn btn-primary">Add Route</button>
  </div>
</div>
</form>

<div class="col col-10 offset-md-2 container viewall">
<div class="container">
    <div class="header">View Route</div>
    <table class="tbl" style="width:100%">
        <tr>
            <th>Route Id</th>
          <th>From</th>
          <th>To</th>
          <th>Departure Date</th>
          <th>Arrival Date</th>
          <th>Departure Time</th>
          <th>Arrival Time</th>
          <th>Duration</th>
          <th>Bus Number</th>
          <th>Pick Up Point</th>
          <th>Fare</th>
        </tr>
        <tr *ngFor="let route of listRoute">
            <td>{{route?.routeId}}</td>
          <td>{{route?.routeFrom}}</td>
          <td>{{route?.routeTo}}</td>
          <td>{{route?.departureTime}}</td>
          <td>{{route?.arrivalTime}}</td>
          <td>{{route?.departureDate}}</td>
          <td>{{route?.arrivalDate}}</td>
          <td>{{route?.duration}}</td>
          <td><ng-container *ngFor="let bus of route.buses" >{{bus?.busNumber}}</ng-container></td>
          <td>{{route?.pickupPoint}}</td>
          <td>{{route?.fare}}</td>
        </tr>
      </table>      
</div>
</div>
